<h3 mat-dialog-title>Action :: <strong>{{action.indexOf('-')>0? action.substring(0, action.indexOf('-')) : action}}</strong></h3>
<div id="agendaContent" *ngIf="from == 'from-agenda'" style="width: 100%; text-align: left"></div>
<div mat-dialog-content style="text-align: center;">
  <div *ngIf="action != 'Delete'; else elseTemplate">
    <div *ngIf="from =='from-assignment'" style="width: 100%">
      <mat-form-field>
        <textarea *ngIf="fieldName==='memo'" placeholder="{{action.substring(0, action.indexOf('-'))}} {{fieldName}}" matInput [(ngModel)]="localData.memo" rows="5"></textarea>
        <input *ngIf="fieldName==='timeLimit'" placeholder="{{action.substring(0, action.indexOf('-'))}} {{fieldName}}" matInput [(ngModel)]="localData.timeLimit">
      </mat-form-field>
    </div>
    <div *ngIf="from.indexOf('from-history-')>=0" style="width: 100%">
      <mat-label>Meeting for -- {{localData.date}}</mat-label>
      <mat-form-field appearance="outline" style="width: 90%">
        <mat-label>Role</mat-label>
        <mat-select  [(value)]="localData.roleId">
          <mat-option *ngFor="let role of roles" [value]="role.guid">{{role.roleName}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 90%;">
        <mat-label>Member Name</mat-label>
        <mat-select  [(value)]="localData.assignedTo">
          <mat-option *ngFor="let member of members" [value]="member.guid">{{member.lastName + ', ' + member.firstName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="from == 'from-new-history'" style="width: 100%">
      <mat-form-field>
        <input matInput [max]="maxDate" [matDatepickerFilter]="dateFilter" [matDatepicker]="picker" [(ngModel)]="localData.date" placeholder="History Meeting Date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div *ngIf="from == 'from-role'" style="width: 100%">
      <mat-form-field>
        <input required placeholder="Role Name" matInput [(ngModel)]="localData.roleName">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-select [(value)]="localData.isSpeakerRole">
          <mat-option [value]="false">No</mat-option>
          <mat-option [value]="true">Yes</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input type="number" required min="1" placeholder="Weight" matInput [(ngModel)]="localData.weight">
      </mat-form-field>
      <mat-form-field>
        <input type="number" required min="1" placeholder="Sort Index" matInput [(ngModel)]="localData.sortIndex">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-select [(value)]="localData.activated">
          <mat-option [value]="false">No</mat-option>
          <mat-option [value]="true">Yes</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
</div>
  <ng-template #elseTemplate>
    Are you sure to delete <b *ngIf="from =='from-member'">{{localData.firstName}}  {{localData.lastName}}</b>?
  </ng-template>
</div>
<br/>
<div mat-dialog-actions>
  <button class="btn btn-primary" (click)="doAction()">{{action.indexOf('-')>0? action.substring(0, action.indexOf('-')) : action}}</button> &nbsp; &nbsp;
  <button class="btn btn-primary" (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>
