@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 60vw;
  font-weight: 200;
  height: 200px;
  border: 2px dashed #f16624;
  border-radius: 10px;
  background: #EEEEEE;
  margin: 10px 0;
}
.dropzone.hovering {
  border: 2px solid #f16624;
  color: #dadada !important;
}
.dropzone .file-label {
  font-size: 1.2em;
}
progress::-webkit-progress-value {
  transition: width 0.1s ease;
}

.dark-gradient{
  background-color: black; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, black , gray, black);
}
